@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.navbar {
  /*background: image_url('zelda_champion.png');*/
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: 'chunkfiveroman', sans-serif;
  font-size: 26px;
  margin-bottom: 0;
}

.form-check-align {
  position: relative;
  margin: 0;
}

.parent {
  overflow: hidden
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}
.clear {
    clear: both;
}

.place_photo {
  max-width: 50%;
  height: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.text-center {
  text-align: center;
}

.carousel-no-overflow {
  overflow: scroll;
}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  height: 400px;
  object-fit: cover;
  /*width: 50%;*/
  margin-left: auto;
  margin-right: auto;
}

.no_padding {
  padding: 0;
}
.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  width: 100%;
  position: absolute;
  left: 0;
}
.carousel {
  /*box-shadow: 0px 3px 8px #2a2a2a;*/
}
.user_profile {
  height: 200px;
  width: auto;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 85%;
}

.text-muted {
    color: #636c72 !important;
}

.footer-links {
  font-weight: 500;
  color: #464a4c;
}
.footer-links a {
  font-weight: 500;
  color: #464a4c;
}
.footer-links li{
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}

body {
  /*background: image_url('gaming-pattern.png');*/
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  /* The image used */
  /*background: image_url('octopath.jpg');*/
  /* Full height */
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  min-height: 100vh;
  /*height: 100%;*/
  /* Center and scale the image nicely */
  /*background-color: #f5f5f5;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

#map {
  /*height: 100%;*/
  height: 300px;
}